.expense_filter {
    color: white;
    padding: 0 1rem;
  }
  
  .expense_filter_control {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1rem 0;
  }
  
  .expense_filter label {
    font-weight: bold;
  
    margin-bottom: 0.5rem;
  }
  
  .expense_filter select {
    align-items: right;
  
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }